<footer>
    <section class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>About us</h3>
            <p>Lorem ipsum dolor sit amet, duo iudico accusamus ne, at vix sumo alia. Usu etiam probatus ne, eu magna ullum iusto his. Nec ea case eirmod dissentiunt. Etiam denique has cu, nam quando accusamus dissentiunt ne. Ea sit malorum scribentur.</p>
        </div>
        
        <div class="col-md-4" id="contact">
            <h3>Contact info</h3>
            <p>Nec ea case eirmod dissentiunt. Etiam denique has cu, nam quando accusamus dissentiunt ne. </p> 
                <ul>
                        <li><i class="icon-home"></i>14th Floor,Tower C,Zhizhen Buliding, No.7,Zhichunlu Road Haidian District, Beijing, China</li>
                        <li><i class="icon-phone"></i> Telephone: 41.22.319.36.10 </li>
                        <li><i class="icon-envelope"></i> Email: cec@cecdat.com<a href="#"></a></li>
                        <li><i class="icon-skype"></i> 中电数据: cecdata</li>
                    </ul>    
        </div>
        
        <div class="col-md-4">
            <h3>Latest tweet</h3>
            <div class="latest-tweets" data-number="10" data-username="ansonika" data-mode="fade" data-pager="false" data-nextselector=".tweets-next" data-prevselector=".tweets-prev" data-adaptiveheight="true"></div>
              <div class="tweet-control">
                <div class="tweets-prev"></div>
                <div class="tweets-next"></div>
              </div><!-- End .tweet-control -->
        </div>
        
    </div><!-- end row -->
      </section>
    
    <section id="footer_2">
    <div class="container">
    <div class="row">
        <div class="col-md-6">
                <ul id="footer-nav">
                    <li>Copyright© Cecdata </li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>              
        </div>
            <div class="col-md-6" style="text-align:center">
                <ul class="social-bookmarks clearfix">
                    <li class="facebook"><a href="#">facebook</a></li>
                    <li class="googleplus"><a href="#">googleplus</a></li>
                    <li class="twitter"><a href="#">twitter</a></li>
                    <li class="delicious"><a href="#">delicious</a></li>
                    <li class="paypal"><a href="#">paypal</a></li>
                </ul>
            </div>
        </div>
        </div>
    </section>

</footer> 