<head>

<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>CEC Data Client</title>
<meta name="description" content="">
<meta name="author" content="张东耀" >

<!-- Favicons-->
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" type="image/x-icon" href="/static/img/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="/static/img/apple-touch-icon-144x144-precomposed.png">

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" >
<link href="/static/css/socialize-bookmarks.css" rel="stylesheet">
<link href="/static/js/fancybox/source/jquery.fancybox.css?v=2.1.4" rel="stylesheet">
<link href="/static/check_radio/skins/square/aero.css" rel="stylesheet">

<!-- Toggle Switch -->
<link rel="stylesheet" href="/static/css/jquery.switch.css">

<!-- Owl Carousel Assets -->
<link href="/static/css/owl.carousel.css" rel="stylesheet">
<link href="/static/css/owl.theme.css" rel="stylesheet">

<!-- Google web font -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Jquery -->
<script src="/static/js/jquery-1.10.2.min.js"></script>
<script src="/static/js/jquery-ui-1.8.22.min.js"></script>

<!-- Wizard-->
<script src="/static/js/jquery.wizard.js"></script>

<!-- Radio and checkbox styles -->
<script src="/static/check_radio/jquery.icheck.js"></script>

<!-- HTML5 and CSS3-in older browsers-->
<script src="/static/js/modernizr.custom.17475.js"></script>

<!-- Support media queries for IE8 -->
<script src="/static/js/respond.min.js"></script>


</head>
